[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
langchain = "*"
tiktoken = "*"
python-dotenv = "*"
unstructured = "==0.7.12"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
